@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300;1,400;1,500&family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --header-height: 3.5rem;

    --first-color: hsl(268, 58%, 48%);
    --first-color-alt: hsl(268, 100%, 89%);
    --white-color: #fff;
    --black-color: #333;

    --body-font: "poppins", sans-seriff;

    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --z-tooltip: 10;
    --z-fixed: 100;

    --container-padding: 0 80px;
    --second-container-padding: 40px 80px;

    --flex__gap: 30px;
    --second-flex__gap: 100px;
}

.bx{
    font-size: 20px;
}

/* p{
    font-size: 1.2em;
} */

h1{
    font-size: 50px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 25px;
}
h4{
    color: var(--second-color);
}


/* =================== Responsive Typography =============== */

@media screen and (min-width: 1152px){
    :root{
        --biggest-font-size: 4rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

@media screen and (max-width: 1100px){
    :root{
        --container-padding: 0 40px;
        --second-container-padding: 30px 40px;
        --flex__gap: 25px;
    }
    a,p{
        font-size: 13px;
    }

    h1{
        font-size: 40px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 21.5px;
    }
}

@media screen and (max-width: 900px){
    :root{
        --container-padding: 0 25px;
        --second-container-padding: 20px 25px;
        --flex__gap: 15px;
    }

    h1{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }
}

@media screen and (max-width: 500px){
    :root{
        --container-padding: 0 10px;
        --second-container-padding: 15px 10px;
    }
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    /* font-weight: var(--font-medium); */
    scroll-behavior: smooth;
    background: var(--second-color-alt);
    color: var(--second-text-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main{
    overflow: hidden;
}


/* ============== HEADER ================  */

.header{
    height: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    z-index: 100;
    background: var(--white-color);
}

.header__logo{
    width: 88px;
}

.header__container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: var(--container-padding);
}

.header__nav__container{
    margin-right: auto;
    margin-left: 60px;
}

.header__nav__btn{
    color: #fff;
    background: var(--first-color);
    padding: 8px 25px;
    border-radius: 50px;
    display: none;
}

.header__nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav__link a{
    margin: 0 12px;
    transition: 1s;
    color: var(--black-color);
}

.header__nav__link a:hover{
    border-bottom: 1px solid var(--black-color);
}

.header__nav__link a.active{
    border-bottom: 1px solid var(--black-color);
}

.header__btn{
    margin-right: 20px;
    color: #fff;
    background: var(--first-color);
    padding: 8px 25px;
    border-radius: 50px;
}

.header__btn:hover{
    background: transparent;
    color: var(--black-color);
    border: 1px solid var(--first-color);
}

.header__search-bar{
    border: 1px solid var(--first-color);
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header__search-bar input{
    outline: none;
    border: none;
    padding: 0 10px;
    background: transparent;
}

.header__search-bar .bx{
    border-left: 1px solid var(--first-color);
    padding: 0 10px;
    cursor: pointer;
}

.header__toggle{
    display: none;
}

@media screen and (max-width: 850px){
    .header__nav__container{
        margin-left: 20px;
    }
    .header__nav__link a{
        margin: 0 8px;
    }
}

@media screen and (max-width: 780px){

    .header{
        height: 45px;
    }

    .header__logo{
        margin-right: auto;
        width: 66px;
    }

    .header__nav__container{
        position: absolute;
        height: 70%;
        width: 300px;
        background: var(--first-color);
        right: 0;
        top: 40px;
        margin-left: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        z-index: 90;
    }

    .header__nav__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
    }

    .header__nav__btn{
        display: flex;
        border: 1px solid #fff;
        margin-top: 20px;
    }

    .header__nav__btn:hover{
        background: #fff;
        color: var(--black-color);
    }

    .header__nav__link{
        margin: 10px 0;
    }

    .header__nav__list a{
        color: #fff;
    }

    .header__btn{
        display: none;
    }

    .header__search-bar{
        border: none;
    }

    .header__search-bar input{
        display: none;
    }

    .header__search-bar .bx{
        border-left: none;
    }

    .header__toggle{
        display: flex;
        margin-left: 10px;
    }
}

@media screen and (max-width: 500px){
    .header__nav__container{
        height: 90%;
        width: 100%;
    }
}



/* ==================== MAIN ================== */

.main{
    background: var(--first-color-alt);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--second-container-padding);
}

.main__container{
    background: var(--white-color);
    width: 100%;
    height: 100%;
}

.main__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main__form{
    padding: 20px;
    width: 65%;
}

.form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.main__form__text{
    margin: 10px 0;
}

.contact__input{
    margin: 10px 0;
}

textarea{
    resize: none;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    height: 80px;
}

.contact__input input{
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #ccc;
}

.contact__submit__btn{
    padding: 10px 25px;
    width: 30%;
    border: none;
    outline: none;background: var(--first-color);
    color: var(--white-color);
    border-radius: 5px;
    margin: 10px 0;
}

.contact__information{
    width: 35%;
    background: var(--first-color);
    height: 100%;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}

.contact__information__text{
    margin: 15px 0 25px 0;
}

.contact__info{
    margin: 20px 0;
    display: flex;
}

.contact__info i{
    margin-right: 10px;
}


@media screen and (max-width: 700px){

    .main{
        height: 200vh;
    }

    .main__content{
        flex-direction: column;
    }

    .main__form{
        width: 100%;
    }

    .contact__information{
        width: 100%;
    }

    .contact__submit__btn{
        width: 100%;
    }
}



/* ////////////////////// FOOTER /////////////////// */


.footer__container{
    background: var(--white-color);
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.footer__top__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--white-color);
    align-items: flex-start;
    color: var(--black-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding: var(--container-padding);
}

.footer__logo{
    width: 90px;
}

.footer__top__nav__motto{
    width: 400px;
}

.footer__top__nav p, .footer__top__nav a{
    line-height: 1;
    margin: 10px 0;
    color: var(--black-color);
}

.footer__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__bottom__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--first-color);
    align-items: flex-start;
    padding: var(--container-padding);
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer__bottom__nav a{
    color: var(--white-color);
}

.footer__bottom__nav a:hover{
    border-bottom: 1px solid var(--white-color);
}

.footer__bottom__nav__socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__bottom__nav__socials a{
    margin: 0 15px;
}


@media screen and (max-width: 750px){


    .footer__top__nav{
        flex-direction: column;
    }

    .footer__top__nav__motto{
        width: 90%;
    }

    .footer__links{
        margin: 15px 0;
    }

    .footer__bottom__nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__bottom__nav a{
        margin: 10px 0;
    }

    .footer__bottom__nav__socials i{
        margin: 0 10px;
    }
}


/* <!-- ======================== TO TOP BUTTON ====================== --> */


.home__to__top__button{
    padding: 30px;
    position: fixed;
    right: 20px;
    top: 500px;
    background: var(--first-color);
    border: 2px solid var(--white-color);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: var(--white-color);
    z-index: 150;
    display: none;
}